.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: var(--primary-color);
  margin-top: 50px;
}

.clock h4 {
  margin-bottom: 0;
  color: var(--third-color);
}

.clock-live {
  margin-left: 10px;
  color: var(--sixth-color);
  font-size: large;
}
