.content {
  min-height: 80vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--seventh-color);
}

.form {
  width: 400px;
  background-color: red;
  padding: 20px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
