.content {
  min-height: 80vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
}

.form {
  background-color: var(--primary-color);
  padding: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  background-color: var(--third-color);
  border: none;
}
.btn-add-contact {
  margin-top: 30px;
  background-color: var(--third-color);
}

h2 {
  margin-bottom: 30px;
  border-bottom: 2px solid var(--fifth-color);
  border-top: 2px solid var(--fifth-color);
}

.mb-3-1 {
  width: 100px;
}

.modal-title {
  border-bottom: 2px solid var(--third-color);
}

.modal-header {
  border-bottom: 2px solid var(--third-color);
}

.modal-body {
  border-bottom: 2px solid var(--third-color);
}

.modal-content {
  background-color: var(--secondary-color);
}

.list-item .col-item {
  margin-right: 7px;
}
