footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  font-weight: 550;
  color: var(--secondary-color);
  background-color: var(--eigth-color);
  border-top: 2px solid var(--third-color);
}
