footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  font-weight: 550;
  color: var(--sixth-color);
  background-color: var(--primary-color);
  border-top: 2px solid var(--sixth-color);
}
