header {
  min-height: 10vh;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--sixth-color);
  background-color: var(--primary-color);
  color: var(--sixth-color);
}
