* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

:root {
  --primary-color: #f8b400;
  --secondary-color: #faf5e4;
  --third-color: #2c786c;
  --fourth-color: #cc704b;
  --fifth-color: #004445;
  --sixth-color: #614124;
}
